<button ng-click="detailsCtrl.goBack()">Back</button>
<table>
    <tr>
        <td>Id:</td>
        <td>{{ detailsCtrl.customer.CUSTOMER_ID }}</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{ detailsCtrl.customer.NAME }}</td>
    </tr>
    <tr>
        <td>City:</td>
        <td>{{ detailsCtrl.customer.CITY }}</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>{{ detailsCtrl.customer.PHONE }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ detailsCtrl.customer.EMAIL }}</td>
    </tr>
</table>

<h2><a href="#/list">BACK</a></h2>