<div ng-repeat="c in listCtrl.customers">

    <a href="#/customer/{{c.CUSTOMER_ID}}">
        {{ c.NAME }} - {{ c.EMAIL }}
    </a>

    <button ng-click="listCtrl.gotoDetails(c.CUSTOMER_ID)">Display</button>

</div>